* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Arial';

  &:fullscreen {
    background-color: yellow;
  }
}

#welcome-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  transform: translateX(-100%) translateY(-100%) rotate(360deg);
  transition: all ease 1s;

  img {
    width: 50%;
    &.animated {
      animation: 1s ease 0s infinite alternate gift;
    }
  }

  button#start {

  }

  &.show {
    transform: translateX(0) translateY(0);
  }

}

#timer {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: all ease 0.8s;
  &.danger {
    color: red;
    font-size: 40px;
  }
}

#message {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  z-index: 200;
  transform: translateX(0) translateY(-200%);
  padding: 20px;
  transition: all ease 0.5s;
  &.show {
    transform: translateX(0) translateY(0);
  }
  button#message-ok {
    opacity: 1;
  }
}

#hint {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#player {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  display: none;

  button {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
    }
    &.show {
      display: flex;
    }
  }

  button#play {

  }

  button#stop {

  }

}

#fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 500;
  button {
    width: 50vw;
    height: 50vw;
    background-color: #ff4f6a;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 40px;
    animation: 1s ease 0s infinite alternate scaled;
    &.soft_hide {
      animation: 1s ease soft_hide forwards;
    }
  }
  &.show{
    display: flex;
  }
}

button {
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: none;
  transition: opacity ease 0.8s;
  &:focus {
    outline: none;
    background-color: yellowgreen;
  }
  &.show {
    opacity: 1;
  }
  &#answer-btn {
    //opacity: 0;
  }
  &#hint-btn {
    //opacity: 0;
  }
}

input {
  font-size: 36px;
  letter-spacing: 30px;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  &:focus {
    outline: none;
    background-color: grey;
  }
}

article {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  #text {
    font-size: 22px;
    text-align: center;
  }



}


// Animation
@keyframes gift {
  from {
    transform: scale(1.4) translateY(20%);
  }
  to {
    transform: scale(1);
  }
}

@keyframes soft_hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaled {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(0.8);
  }
}